In [97]:
from pandas import read_csv
from pandas import to_datetime

In [98]:
df = read_csv('congress_resignations.csv')

In [99]:
df.head()

,Unnamed: 0,Category,Congress,District,Member,Party,Reason,Resignation Date,Source
0,0,D,115th,OH-12,Pat Tiberi,R,Took a job with the Ohio Business Roundtable,1/15/2018,New York Times
1,1,X,115th,MN-SEN,Al Franken,D,Sexual harassment/groping/unwanted kissing,1/2/2018,Minneapolis Star Tribune
2,2,X,115th,AZ-08,Trent Franks,R,Sexual harassment/surrogacy pressure,12/8/2017,CNN
3,3,X,115th,MI-13,John Conyers,D,Sexual harassment/inappropriate touching,12/5/2017,Washington Post
4,4,A,115th,PA-18,Tim Murphy,R,Extramarital affair/abortion hypocrisy,10/21/2017,POLITICO

- Convert Resignation Date to a datetime field

In [100]:
df['Resignation Date'] = to_datetime(df['Resignation Date'])

In [101]:
df.head()

,Unnamed: 0,Category,Congress,District,Member,Party,Reason,Resignation Date,Source
0,0,D,115th,OH-12,Pat Tiberi,R,Took a job with the Ohio Business Roundtable,2018-01-15,New York Times
1,1,X,115th,MN-SEN,Al Franken,D,Sexual harassment/groping/unwanted kissing,2018-01-02,Minneapolis Star Tribune
2,2,X,115th,AZ-08,Trent Franks,R,Sexual harassment/surrogacy pressure,2017-12-08,CNN
3,3,X,115th,MI-13,John Conyers,D,Sexual harassment/inappropriate touching,2017-12-05,Washington Post
4,4,A,115th,PA-18,Tim Murphy,R,Extramarital affair/abortion hypocrisy,2017-10-21,POLITICO

* Build a list of years that are the year after an election year, election years are divisible by 4

In [104]:
years_after_election_year = []
for year in range(1776, 2018):
    if year % 4 == 0:
        years_after_election_year.append(year+1)

[1777,
 1781,
 1785,
 1789,
 1793,
 1797,
 1801,
 1805,
 1809,
 1813,
 1817,
 1821,
 1825,
 1829,
 1833,
 1837,
 1841,
 1845,
 1849,
 1853,
 1857,
 1861,
 1865,
 1869,
 1873,
 1877,
 1881,
 1885,
 1889,
 1893,
 1897,
 1901,
 1905,
 1909,
 1913,
 1917,
 1921,
 1925,
 1929,
 1933,
 1937,
 1941,
 1945,
 1949,
 1953,
 1957,
 1961,
 1965,
 1969,
 1973,
 1977,
 1981,
 1985,
 1989,
 1993,
 1997,
 2001,
 2005,
 2009,
 2013,
 2017]

In [105]:
df = df[df['Resignation Date'].dt.year.isin(years_after_election_year)]

In [106]:
df[df['Resignation Date'].dt.month <= 6].shape

(104, 9)