In [1]:
from pandas import read_csv

In [3]:
df = read_csv('word_grades.csv')

In [4]:
df.head()

   Unnamed: 0     Performance        Student ID
0           0     Outstanding  15cef9dc4d469130
1           1       Excellent  5133525416945713
2           2     Outstanding  4767a03fb5e0e9fe
3           3         Perfect  57be4a69b997fadb
4           4  Unsatisfactory  4efc35d2a618052b

In [5]:
below_above_average = ['Average', 'Below Average', 'Unsatisfactory', 'Bad', 'Horrible', 'Terrible', 'Failure', 'Abysmal Failure']

In [8]:
df = df[df['Performance'].isin(below_above_average)]

In [9]:
df.shape

(5665, 3)