In [1]:
from pandas import read_csv

In [13]:
df = read_csv('number_array305.csv')
df.head()

   idx         val
0    0  -43.386824
1    1  100.106409
2    2   58.235101
3    3   24.716739
4    4   53.863065

In [15]:
df.describe()

               idx          val
count  5000.000000  5000.000000
mean   2499.500000    -0.461030
std    1443.520003    49.758984
min       0.000000  -157.462771
25%    1249.750000   -34.184687
50%    2499.500000    -0.934132
75%    3749.250000    33.129440
max    4999.000000   173.083654